<div class="center hero-unit">
  <h1>Красноярская летняя школа</h1>

  <h2>
   	Это главная страница сайта
  	<a href="http://klsh.ru/">КЛШ</a>.
  	Когда-нибудь он заживет :-)
  </h2>

  <%= link_to "Запускай КЛШ!", '#', 
  	class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("logo.png", alt: "Думатель"),
	 'http://klsh.ru/' %>