<footer class="footer">
  <small>
    <a href="http://klsh.ru/">КЛШ</a>
    для друзей
  </small>
  <nav>
    <ul>
      <li><%= link_to "О нас",   '#' %></li>
      <li><%= link_to "Контакты", contacts_path %></li>
      <li><a href="http://vk.vom/">Группа в ВК</a></li>
    </ul>
  </nav>
</footer>
